@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Alloystan';
  src: url('/fonts/Alloystan.ttf.woff') format('woff'),
       url('/fonts/Alloystan.ttf.svg#Alloystan') format('svg'),
       url('/fonts/Alloystan.ttf.eot'),
       url('/fonts/Alloystan.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;

}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 0;
}

h1 {
  font-family: 'Alloystan', sans-serif;
  font-size: 7rem;
  color: #a5d2de;
}
/* Media query for mobile devices */
@media (max-width: 768px) {
  .carousel-container .carousel {
    .w-full {
      width: 100%;
    }
  }
}

/* globals.css */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  overflow: hidden;
  width: 100%;
}

.flex {
  display: flex;
  white-space: nowrap;
}
